.App {
  text-align: center;
}
header {
  margin-bottom: 4em;
}
.container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.card {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}
.card img {
  height: 300px;
  width: 300px;
}
